nav.navbar.navbar-expand-lg {
	background: #0c426f;
}

.navbar-brand {

}
nav a.navbar-brand {
	/*padding: 5px;*/
	color: white;
}
#navbar1 ul li {
	margin-right: 1em;
	margin-left: 1em;

	margin-top: -10px;
	padding-top: 10px;
}
#navbar1 ul li a {
	color: white;
}
#navbar1 ul li.active {
	border-top: solid 4px #fff200;
	padding-top: 6px;
}
#navbar1 ul li.active a {
	color: #fff200;
}

.btn-primary {
	background-color: #0c426f;
	border-color: #4482b680;
}
.btn-primary:hover {
	background-color: #24578d;
	border-color: #24578d;
}